@font-face {
    font-family: 'damionregular';
    src: url('../fonts/damion_regular-webfont.woff2') format('woff2'),
    url('../fonts/damion_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    padding-top: 20px;
}

/********************* Semantic Stuff *********************/

.ui.menu {
    margin: 0;
}

.ui.mini.label, .ui.mini.labels .label {
    font-size: 7px;
}

.ui.input input {
    border: 0;
    border-bottom: 1px solid rgba(34,36,38,.15);
    border-radius: 0;
}

.ui.secondary.menu .item a {
    background: none;
}

.ui.secondary.menu .item a:hover {
    background: none;
    border-bottom: 1px solid rgba(34,36,38,.75);
    border-radius: 0;
}

.ui.secondary.menu .active.item {
    background: none;
    border-bottom: 1px solid rgba(34,36,38,.75);
    border-radius: 0;
}

.ui.secondary.menu .active.item:hover {
    background: none;
    border-bottom: 1px solid rgba(34,36,38,.75);
    border-radius: 0;
}

.ui.segment {
    border-radius: 0;
    box-shadow: none;
}

/********************* Common *********************/

.content {
    padding-top: 30px;
}

/********************* Home *********************/

.banner {
    font-family: damionregular, cursive;
    font-size: 50px;
    border-bottom: 5px solid;
}

#price_tag {
    border-radius: 0;
    background: #444;
    box-shadow: 2px 2px 2px 0 rgba(34,36,38,.6);
    color: white;
    padding: 10px 0;
    width: 50%;
    max-width: 50%;
    text-align: center;
    top: 21.5em;
    left: 30%;
}

#product_segment {
    padding-bottom: 2em;
}
